html, body {
    height: 100%;
}

html{
	background: url('../images/clouds.jpg');
}

body{
	background: url('../images/pictureframe2.jpg');
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	
}
#wrap {
    height: auto;
    margin: 0 auto -60px;
    min-height: 100%;
    padding: 0 0 60px;
}
#footer {
    background-color: #F5F5F5;
    height: 60px;
}
#wrap > .container {
    padding: 60px 15px 0;
}
.container .credit {
    margin: 20px 0;
}
#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}
code {
    font-size: 80%;
}
